<main>

    <div class="d-flex flex-row align-content-center align-items-center mt-5">
        <div class="rounded-5 me-3 p-4 text-primary" style="background-color: #EEDC00">
            <h3>Uffici Postali</h3>
            <h5>La rete fisica di Poste Italiane distribuita su tutto il territorio nazionale.</h5>
        </div>
    </div>
    <br />
    <div class="w-50 h-100 d-flex justify-content-center align-content-center ">
        <img ID="Ufficio" src="~/Content/Assets/poste-italiane2.jpg" class="rounded-circle" style="width: 800px" />
    </div>

    <div class="d-flex flex-row align-content-center align-items-center ps-5 mt-5">
        <div class="rounded me-3 p-4 text-primary" style="background-color: #EEDC00">
            <h3>Le persone</h3>
            <h6>Tutto il nostro personale viene addestrato per almeno 120 ore e svolge un periodo di prova di 30 giorni prima di iniziare.</h6>
            <h6>Tutto il nostro personale è orientato al servizio clienti, con l'obiettivo di consegnare il tuo pacchetto più velocemente della velocità della luce!</h6>
            <h6>Il nostro obiettivo è garantire l'inclusione, la diversità, l'uguaglianza per tutto il nostro personale e, soprattutto, per i nostri clienti.</h6>

        </div>
    </div>
    <br />
    <div class="w-100 h-50 d-flex justify-content-center align-content-center ">
        <img ID="Ufficio" src="~/Content/Assets/poste-italiane3.jpg" class="rounded-circle" style="width: 600px" />
    </div>

    <div class="d-flex flex-row align-content-center align-items-center mt-5 mb-5">
        <div class="rounded me-3 p-4 text-primary" style="background-color: #EEDC00">
            <h3>Come funziona</h3>
            <h6>Ogni nostro ufficio è dotato di un set di computer dove puoi procedere con le informazioni di imballaggio e stampare l'etichetta.</h6>
            <h6>Puoi anche farlo da casa utilizzando il nostro servizio online.</h6>
            <h6>Se desideri, puoi acquistare le buste o le scatole presso il nostro ufficio.</h6>
            <h6>Recati a uno dei nostri sportelli dove il nostro personale ti aiuterà a finalizzare e preparare l'oggetto da inviare.</h6>
            <h6>Il tempo di consegna dipende dal tipo di pacchetto e dal contenuto del pacchetto.</h6>

        </div>
    </div>
    <br />
    <div class="w-20 h-70 d-flex justify-content-center align-content-center ">
        <img ID="Ufficio" src="~/Content/Assets/poste-italiane1.png" class="rounded-5" style="width: 500px" />
    </div>
    <br />

    <br />
    <br />

</main>